<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/public/favicon/favicon.ico">
    <link rel="manifest" href="/public/site.webmanifest">
    {{#if inputScript}}
    {{#each scriptPaths}}
    <script src="/public/js/{{path}}"></script>
    {{/each}}
    {{/if}}
    <title>{{title}}</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-content">
            <h1><a href="/">StockoTrade</a></h1>
            {{#if isLoggedIn}}
            <form method="POST" action="/logout" class="signout-form">
                <button type="submit" class="signout-btn">Sign Out</button>
            </form>
            {{/if}}
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="main-footer">
        <div class="main-footer-content">
            <p>Authors:</p>
            <ul>
                <li><a href="https://github.com/Josh-Hiz" target="_blank">Joshua Hizgiaev</a></li>
                <li><a href="https://github.com/mattsolstice" target="_blank">Matthew Soltys</a></li>
                <li><a href="https://github.com/TanavT" target="_blank">Tanav Thota</a></li>
                <li><a href="https://github.com/thehargun" target="_blank">Hargun Sawhney</a></li>
            </ul>
            <p>StockoTrade by @CS546-Team10</p>
        </div>
    </footer>
</body>
</html>