
<h1 id="userNameDisplay" name="userNameDisplay">{{id}}</h1>
<form name="searchBarStocksForm" id="searchBarStocksForm">
    <label for="searchBarStocks">Search for stocks...</label>
    <input name="searchBarStocks" id="searchBarStocks" type="text">
]</form>

<h2>Dashboard Screen (WIP)</h2>