
<h1 id="userNameDisplay">{{username}}</h1>
<!--<form name="searchBarStocksForm" id="searchBarStocksForm">
    <label for="searchBarStocks">Search for stocks...</label>
    <input name="searchBarStocks" id="searchBarStocks" type="text">
</form> -->

<h2>Dashboard Screen (WIP)</h2>