<div class="error-page">
    <h2 class="error-title">Something went wrong:</h2>
    <p class="error">{{errorCode}}</p>
    <a href="/" class="error-go-back-tag">Go to the homepage or your dashboard!</a>
</div>
