<section class="error-page card">
  <h2 class="error-title">Something went wrong:</h2>
  <p class="error">{{errorCode}}</p>
  <a href="/" class="btn">Go Home</a>
  <p class="error-message">{{errorMessage}}</p>
</section>
