<section class='home-create-account-section'>
	<div class='home-account-box'>
		<h2>Have an account?</h2>
		<form action='/login' class='account-form'>
			<button type='submit' class='account-btn'>Login</button>
		</form>
		<h2>If not, sign up!</h2>
		<form action='/signup' class='account-form'>
			<button type='submit' class='account-btn'>Sign up</button>
		</form>
	</div>
</section>
<section class='home-info-section'>
	<h2 class='home-info-section-title'>StockoTrade</h2>
	<article class='home-info-section-article'>
		<h2>What is StockoTrade?</h2>
		<p>
			StockoTrade is a free paper-trading simulation web application
			available to anyone who is interesting about buying and selling
			stocks on the market. Anyone can make an account and begin to trade
			stocks risk free with fake money. This site allows you to buy and
			sell stocks without the worry of using real money, as well as having
			the ability to view statistics about stocks using our search
			functionality. Users will have access to a dashboard after signing
			up for StockoTrade, seeing their current portfolio details and
			statistics computed in real time free of charge. Come join today!
		</p>
	</article>

	<article class='home-info-section-article'>
		<h2>The Team</h2>
		<ul>
			<li>Joshua Hizgiaev: Junior 3/4 Computer Science student at Stevens
				Institute of Technology</li>
			<li>Matthew Soltys: Junior 3/5 Computer Science Student at Stevens
				Institute of Technology</li>
			<li>Tanav Thota: Junior 3/4 Computer Science student at Stevens
				Institute of Technology</li>
			<li>Hargun Sawhney: Junior 3/4 Computer Science student at Stevens
				Institute of Technology</li>
		</ul>
	</article>

</section>