<section class="leaderboard card">
  <h2 class="leaderboard__title">Leaderboard</h2>
  <div class="leaderboard__container">
    <table class="leaderboard__table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Total Portfolio Value</th>
        </tr>
      </thead>
      <tbody id="leaderboard-body"></tbody>
    </table>
  </div>
</section>
